<div style="text-align:center;background-color:#eeeeee">

    <% if logged_in? && current_user.admin %>
        <h1 style="color:#f21170">Edit <%= @user.username %>'s Information:</h1>
    <% else logged_in? %>
        <h1 style="color:#f21170">Edit Your Information:</h1>
    <% end %>

    <%= form_with model: @user do |f| %>
        <%= render partial: 'form', locals: {f: f} %>
    <% end %>

    <% if logged_in? && current_user.admin %>
        <%= link_to "Back", users_path %>
    <% else %>
        <%= link_to "Back", :back %>
    <% end %>

</div>