<div style="text-align:center;background-color:powderblue;width:50%;margin:auto">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account!</p>

    <%= form_with model: @user, url: signup_path do |f| %>
        <%= f.text_field :username, placeholder: 'Username' %><br><br>
        <%= f.email_field :email, placeholder: 'Email' %><br><br>
        <%= f.password_field :password, placeholder: 'Password' %><br><br>
        <p>Check if admin.</p>
        <%= f.check_box :admin %> Admin?<br><br>
        <%= f.submit "Sign Up" %>
    <% end %>
</div>