<div style="text-align:center;background-color:#eeeeee">
<h1 style="text-align:center;color:green">Welcome to Master Marketplace.</h1>
<h3>Choose Your Product From Listed Categories</h3>

<% if logged_in? && current_user.admin %>
    <%= link_to "+ New Category", new_category_path %><br><br>
<% end %>

    <% @categories.each do |category| %>
        <strong><%= link_to category.title, category_products_path(category) %></strong>(<%= category.products.length %> products)<br><br>
        <% if logged_in? && current_user.admin %>
            <%= link_to "Edit", edit_category_path(category) %> / <%= link_to "Delete", category_path(category), method: 'delete' %><br><br>
        <% end %>
    <% end %>

</div>