<div style="text-align:center;background-color:#eeeeee">
<h1>Create New Category</h1>

<%= render partial: "users/errors", locals: {object: @category} %>

<%= form_with model: @category do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br><br>
    <%= f.submit %>
<% end %>
</div>