<div style="text-align:center;background-color:#eeeeee">

<h1 style="color:#f21170">Edit product info</h1>

<%= render partial: "users/errors", locals: {object: @product} %>

<%= form_with model: @product, url: category_product_path(params[:category_id], @product) do |f| %>
    <%= f.text_field :title, value: @product.title %><br><br>
    <%= f.text_field :description, placeholder: "Product Description", value: @product.description %><br><br>
    <%= f.number_field :price, step: :any, value: @product.price %><br><br>
    <%= f.submit %><br><br>
<% end %>
<%= link_to "Back", category_products_path %>

</div>