<h1>Products from <%= @category.title.singularize %> category:</h1>

        <%= debug session[:cart] %>

    <ol>
        <% @products.each do |product| %>
            <li><%= product.title %></li>
            <p>Price: <%= number_to_currency product.price %></p>
            <p><%= product.description %></p>
            <p><%= link_to "add to cart", add_to_cart_path(product), method: :post %></p>
        <% end %>
    </ol>

<%= link_to "Back", root_path %>