<div style="background-color:#eeeeee">
<h1>Products from <%= @category.title.singularize %> category:</h1>

<% if logged_in? %>
    <details>
        <summary>Shopping Cart</summary>
        <% if @cart.empty? %>
            <p>No item in cart.</p>
        <% else %>
            <ul>
            <% @cart.each do |product| %>
                <li><%= product.title %> - <%= number_to_currency product.price %> &nbsp <%= link_to "remove from cart", remove_from_cart_path(product), method: :delete %></li>
            <% end %>
            </ul>
        <% end %>
        <hr style="border-top: 1px dashed #8c8b8b;border-bottom:1px dashed #fff">
    </details><br><br>
<% else %>
    <h3><%= link_to "Sign-in", login_path %> to purchase</h3>
<% end %>

    <% if logged_in? && current_user.admin %>
            <%= link_to "+ New Product", new_category_product_path(@category) %>
    <% end %>

    <ol>
        <% @products.each do |product| %>

            <li><strong><%= product.title %></strong></li>
            <p><%= product.description %></p>
            <p>Price: <%= number_to_currency product.price %></p>

            <% if logged_in? && current_user.admin %>
                <%= link_to "Edit", edit_category_product_path(params[:category_id], product) %> <%= link_to "Delete", category_product_path(params[:category_id], product), method: :delete %><br><br>
            <% elsif logged_in? && @cart.include?(product) %>
                <p>*Product is in your cart</p>
                <p><%= link_to "remove from cart", remove_from_cart_path(product), method: :delete %></p>
                <p><%= button_to "add to cart", add_to_cart_path(product) %></p>
            <% elsif logged_in? %>
                <p><%= button_to "add to cart", add_to_cart_path(product) %></p>
            <% end %>

        <% end %>
    </ol>

<%= link_to "Back", root_path %>
</div>